@import "tailwindcss";

@layer components {
  .w-memo {
    width: 55svw;
    max-width: 18rem;
  }

  .btn-record-primary {
    color: var(--fgColor-link);
    cursor: pointer;
    &:hover {
      @media (hover: hover) {
        text-decoration: underline;
        text-decoration-color: var(--fgColor-link);
      }
    }
  }
}
