<div>
  <h1 class="font-bold text-5xl">計算結果</h1>
  <p>Home#_calc_results</p>
  <p>未ログイン時も表示</p>
</div>
<div>
  <table border="1">
    <thead>
      <tr>
        <th colspan="1">year</th>
        <th colspan="4">vertical</th>
        <th colspan="4">lateral</th>
      </tr>
      <tr>
        <th colspan="1">date</th>
        <th colspan="3">force</th>
        <th colspan="1">distance</th>
        <th colspan="2">azimuth</th>
        <th colspan="2">force</th>
      </tr>
      <tr>
        <th>time</th>
        <th>moon</th>
        <th>sun</th>
        <th>moon + sun</th>
        <th>jupiter</th>
        <th>moon</th>
        <th>sun</th>
        <th>moon</th>
        <th>sun</th>
      </tr>
    </thead>
  <% 24.times do %>
    <tr>
      <td>time</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
  <% end %>
  </table>
</div>
