<table id="calcResults" class="table-fixed w-162 text-center border-collapse border-gray-200">
  <thead class="h-20 border-b-2 border-b-gray-300">
    <tr>
      <th colspan="1"></th>
      <th class="border-l border-gray-200" colspan="3">force (vertical)</th>
      <th class="border-l border-gray-200" colspan="1">distance</th>
      <th class="border-l border-gray-200" colspan="2">force (lateral)</th>
      <th class="border-x border-gray-200" colspan="2">azimuth</th>
    </tr>
    <tr>
      <th>time</th>
      <th class="border-l border-gray-200">moon</th>
      <th class="border-l border-gray-200">sun</th>
      <th class="border-l border-gray-200">moon + sun</th>
      <th class="border-l border-gray-200">jupiter</th>
      <th class="border-l border-gray-200">moon</th>
      <th class="border-l border-gray-200">sun</th>
      <th class="border-l border-gray-200">moon</th>
      <th class="border-x border-gray-200">sun</th>
    </tr>
  </thead>
  <tbody data-calc-results-page-target="calcResultsTbody">
  </tbody>
</table>
