<div>
  <h1 class="font-bold text-3xl">「計算結果」のpagination（２４時間ごと）</h1>
  <p>Home#_pagination</p>
  <p>ここの変化をトリガーにして「測定値」の表示も更新する</p>
</div>

<div id="pagination" data-controller="pagination" data-pagination-target="pagination">
</div>
