<div>
  <h1 class="font-bold text-3xl">測定値</h1>
  <p>Records#_index</p>
  <p>ログイン時のみ表示。編集可</p>
</div>
<div>
  <table border="1">
  <% 24.times do %>
    <tr>
      <td>time</td>
      <td>col0</td>
      <td>col1</td>
      <td>col2</td>
      <td>col3</td>
      <td>col4</td>
      <td>col5</td>
      <td>memo</td>
    </tr>
  <% end %>
  </table>
</div>
