<div>
  <h1 class="font-bold text-3xl">測定値の項目名</h1>
  <p>Titles#_index</p>
  <p>ログイン時のみ表示。編集可</p>
</div>
<div>
  <table border="1">
    <thead>
      <tr>
        <th>time</th>
        <th>col0</th>
        <th>col1</th>
        <th>col2</th>
        <th>col3</th>
        <th>col4</th>
        <th>col5</th>
        <th>memo</th>
      </tr>
    </thead>
  </table>
</div>
