<div>
  <% if user_signed_in? %>
    <%= button_to "ログアウト", destroy_user_session_path, method: :delete, form: { data: { turbo_confirm: "本当にログアウトしますか？" } }   %>
  <% else %>
    <%= link_to "ログイン", new_user_session_path %>
  <% end %>
</div>
